@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  position: 5px;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  border: none;
  background: #474dff;
  color: white;
  width: 150px;
  padding: 10px 0;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 5px;
}

p {
  font-size: 0.8rem;
}

body {
  min-height: 100vh;
  background: yellow;
  color: rgb(250, 250, 250);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav ul {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
}

h1 {
  font-size: 5rem;
}

.header-left-container h3 {
  color: #474dff;
  font-size: 1.8rem;
}

.header-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modem {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.infos {
  display: flex;
  background: rgba(13, 13, 13);
  border-radius: 10px;
}

.infos-left {
  width: 33%;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.infos-right {
  width: 67%;
}

.investors {
  display: flex *;
  align-items: center;
  justify-content: space-around;
  height: 86%;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.img-container img {
  height: 60px;
  margin: 10px auto;
  display: block;
  width: 100%;
}

/* *************** Media Queries**************** */

@media screen and (max-width: 870px) {
  body {
    font-size: 2.5rem;
  }
  .header-left-container h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.7;
  }
  .img-container {
    height: unset;
    width: 20%;
  }
}

@media screen and (max-width: 592px) {
  nav ul {
    font-size: 0.7rem;
    width: 67%;
  }

  .header {
    display: block;
  }

  .header-left,
  .header-right {
    width: 100%;
  }

  #modem {
    width: 60%;
  }

  .infos {
    display: block;
  }

  .infos-left,
  .infos-right {
    width: 100%;
    align-items: center;
  }

  .btn-container {
    text-align: center;
    display: block;
  }

  button {
    margin: 5px auto;
    display: block;
  }
}
